html,
body {
  background-color: #111;
  height: 100%;
  margin: 0;
}

.cell {
  background-color: #999;
  justify-content: center;
  align-content: center;
}

.orange {
  background-color: orange;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 10%);
  gap: 8px 8px;
  grid-auto-flow: row;
  width: 600px;
  height: 900px;
  margin: auto;
  margin-top: 40px;

  align-items: stretch;
  justify-content: center;
}
